@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.about {

    &__container {
        font-size: 14px;
        text-align: center;
        border: 2px solid transparent;
        margin: 64px 0px 64px 0px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        background-color: white;

        @include tablet {
            align-items: center;
            font-size: 16px;
            margin: 64px 16px 64px 16px;
        }
    }

    &__image {
        width: 200px;
        height: 350px;
        margin: 16px 16px 16px 16px;
        border-radius: 50px;
    }

    &__information {
        @include tablet {
            display: flex;
        }
    }

    &__paragraphs {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        @include tablet {
            padding-top: 16px;
            width: 200px;
            align-items: start;
        }
    }

    &__icons {
        width: 20px;
    }

    &__list {
        list-style: none;
        font-size: 12px;
    }

    &__title {
        text-align: center;
        padding-top: 32px;
        text-decoration: underline;
        text-decoration-color: rgb(35, 172, 218);
        text-underline-offset: 8px;
        letter-spacing: 2px;

        @include tablet {
            padding-top: 0;
        }
    }

    &__text p {
        line-height: 1.2rem;
        text-align: justify;
    }

    &__inside-container {
        @include tablet {
            display: flex;
            gap: 2rem;
            padding-bottom: 32px;
        }
    }

    &__me {
        text-align: start;
        margin-left: 16px;
        margin-right: 16px;

        @include tablet {
            margin-right: 32px;
        }
    }
}