@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.footer {
    color: white;
    background-color: black;

    &__text {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
}